
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand img:hover {
    transform: rotateY(360deg);
    transition: 4s;
}
.card {
    background-color: hsl(272, 8%, 58%);
}
.nombre{
    border: black 2px solid;
    margin-top: 10px;
}
.logo {
    width: 50px;
}
.logo-nav {  
     width: 50px;
    height: 50px;
}
.navbar {
    background-color: hsl(272, 8%, 58%);
}
.container {
    margin: 30px;
    margin-top: 10px;
    background-color: brown;
}
div.p {
    font-size: 50px;
}
.pic3 {
    margin-left: 70px;
    width: 90%;
    height: 300px;
}
h2 {
    color: hsl(272, 8%, 58%);
}
div.titulo {

    min-height: 110px;
    max-height: 260px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top:75px;
    border: hsl(0, 0%, 0%) 5px solid;
    background: url("imagenes/background header.jpg");
}

.logo-nav {
    width: 70px;
  }
.pic {
    
    min-width: 300px;
    max-width: 00px;
    height: auto;
}

h1 {
    text-transform: uppercase;
    font-size: 80px;
}

